*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: $bg-white;
  color: $text-grey;
  /* rem vw/vh */
  width: 100vw;
}

a {
  color: $text-grey;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

.arrow-right {
  border-top: 1px solid $border-999;
  border-left: 1px solid $border-999;
  width: 9px;
  height: 9px;
  background-color: transparent;
  transform: rotate(135deg);
  display: inline-block;
  margin-left: .1rem;
}

// 过渡相关
.fade-leave-active,
.fade-enter-active {
  transition: all 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
